

/* Registration Form Container */
.form-container {
    width: 400px;
    background-color: #1f1f1f;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

label {
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    text-align: left;
}
/*박스 밖 글씨*/
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333333;
    border-radius: 5px;
    background-color: #292929;
    color: #ffffff;
    font-size: 14px;
}

/*비밀번호,비밀번호 확인 수정*/
.input.password {
    position: relative;
    width: 100%;
}

.input.password input {
    width: 100%;
    padding: 10px 10px 10px 10px; /* Add right padding for the icon */
    margin-bottom: 20px;
    border: 1px solid #333333;
    border-radius: 5px;
    background-color: #292929;
    color: #ffffff;
    font-size: 14px;
}

.input.password .eyes {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust placement on the right side */
    transform: translateY(-95%);
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
}

